# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
env/

# VS Code / Dev Containers
.vscode/
.devcontainer/

# Data & model artifacts (if large)
*.pkl
*.h5

# OS files
.DS_Store
Thumbs.db
